.background {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-size: cover;
}


#IV_CloseButton {
	-fx-image: url("../resources/CloseBar.png");
}

#IV_CloseButton:hover {
	-fx-image: url("../resources/CloseBarHovered.png");
}

#IV_MiniButton {
	-fx-image: url("../resources/MinimizeBar.png");
}

#IV_MiniButton:hover {
	-fx-image: url("../resources/MinimizeBarHovered.png");
}