.background {
    -fx-background-image: url("../resources/backgroundSierra.jpg");
    -fx-background-size: cover;
}


#IV_CloseButton {
	-fx-image: url("../resources/CloseBar.png");
}

#IV_CloseButton:hover {
	-fx-image: url("../resources/CloseBarHovered.png");
}

#IV_MiniButton {
	-fx-image: url("../resources/MiniBar.png");
}

#IV_MiniButton:hover {
	-fx-image: url("../resources/MiniBarHovered.png");
}