.background {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-size: cover;
}


#IV_CloseButton {
	-fx-image: url("../resources/MenuBars/CloseBar.png");
}

#IV_CloseButton:hover {
	-fx-image: url("../resources/MenuBars/CloseBarHovered.png");
}